.env
environment
the
virtual
create
\#
venv
env
.idea
.vscode
#macos ignores
.DS_Store
#pyc files
*.pyc
*.pyo
*.pyd
#pycache
__pycache__
__pycache__/ 
#logs
*.log
#database
*.db
*.csv
users.csv

# postgres from /app/db/postgres
pg_dump.sql
app/db/postgres/

# postgres data directory
app/db/postgres_data/
app/db/postgres_data/*
data/matrix_rooms.json
