.env
environment
the
virtual
create
\#
venv
env
.idea
.vscode
#macos ignores
.DS_Store
#pyc files
*.pyc
*.pyo
*.pyd
#pycache
__pycache__
__pycache__/ 
#logs
*.log
#database
*.db
*.csv
users.csv
.cursorignore

# postgres from /app/db/postgres
pg_dump.sql
app/db/postgres/

# postgres data directory
app/db/postgres_data/
app/db/postgres_data/*
data/matrix_rooms.json
test_env/bin/*
test_env/lib/*
test_env/lib64/*
test_env/Scripts/*
test_env/share/*
test_env/include/*
test_env/man/*
app/db/init_db.py
app/db/migrations/__init__.py
app/db/migrations/add_signal_identity.py
app/db/init_db.py
test_env/pyvenv.cfg
test_env/etc/jupyter/nbconfig/notebook.d/pydeck.json
