requests
python-dotenv
nltk
streamlit>=1.31.0
pandas
streamlit-copy-to-clipboard
cryptography
pytz
streamlit-aggrid
xkcdpass
# streamlit-annotated-text
# streamlit-easy-button
thorn
psycopg2-binary
sqlalchemy
alembic
openai
email-validator
matrix-nio
nest-asyncio
streamlit-extras
streamlit-option-menu