requests
python-dotenv
nltk
streamlit
pandas
streamlit-copy-to-clipboard
cryptography
pytz
streamlit-aggrid
xkcdpass
# streamlit-annotated-text
# streamlit-easy-button
thorn
pytz
streamlit-aggrid
psycopg2-binary
sqlalchemy
alembic
openai
email-validator
matrix-nio
